[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.3"
djangorestframework = "3.14.0"
pillow = "9.5.0"
django-cors-headers = "==3.14.0"
django-cors-middleware = "*"
drf-yasg = "*"
environs = {version = "==8.0.0", extras = ["django"]}
psycopg2-binary = "*"
whitenoise = "==5.1.0"
gunicorn = "==19.9.0"

[dev-packages]

[requires]
python_version = "3.11"
